.visit-status-reserved,
.visit-status-finished,
.visit-status-cancelled {
  font-size: 15px;
  border: 1px solid;
  margin: 10px 10px;
  width: 120px;
  background-repeat: no-repeat;
  text-align: center;
  background-position: 10px center;
  border-radius: 30px;
}
.visit-status-reserved {
  color: #00529b;
  background-color: #bde5f8;
}
.visit-status-finished {
  color: #4f8a10;
  background-color: #dff2bf;
}
.visit-status-cancelled {
  color: #d8000c;
  background-color: #ffbaba;
}
.visit-container {
  background-color: #FFF4F1;
  border: 1px solid;
  margin-top: 20px;
  border-radius: 30px;
}
.visit-name {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  text-align: center;
}
.visit-date {
    /* font-weight: bold; */
  position: absolute;
  font-size: 20px;
  margin-top: -42px;
  margin-left: 460px;
  width: 220px;
  text-align: center;
}
.btn,
.btn-primary
 {
  margin-left: 0;
  margin-bottom: 10px;
  width: 170px;
  background-color: white !important;
  color: black !important;
  border: 1px solid;
  border-color:  black!important;
}
.btn:hover,
.btn-primary:hover
{
     background-color: rgb(226, 226, 226) !important;
}
.price
{
position: absolute;
/* font-weight: bold; */
font-style: italic;
  font-size: 20px;
  margin-top: 42px;
  margin-left: 460px;
  width: 220px;
  text-align: center;
}
.duration
{
    position: absolute;
    /* font-weight: bold; */
    font-style: italic;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 460px;
    width: 220px;
    text-align: center;
}
.my-btn
{
  position: absolute;

      color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
margin-top: -7px;
margin-left: 70px;
}
.my-btn:hover
{
  background-color: #006aee !important;
}

