<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link href="../static/css/lifting.css" th:href="@{/css/lifting.css}" rel="stylesheet"/>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    <title>Beauty Glow</title>
</head>

<body>
<div class="logo">
    <a th:href="@{/}">Beauty Glow</a>
</div>
<div class="navigation">
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="#">Zabiegi</a>
            <ol>
                <li><a th:href="@{/permanentMakeup}">Makijaż permanentny</a></li>
                <li><a th:href="@{/eyelashExtensions}">Przedłużanie rzęs</a></li>
                <li><a th:href="@{/lifting}">Lifting brwi i rzęs</a></li>
                <li><a th:href="@{/makeup}">Makijaż</a></li>
                <li><a th:href="@{/priceList}">Cennik</a></li>
            </ol>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/contact}">Kontakt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/" target="_blank">Instagram</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/myAccount/info}">Umów się na wizytę</a>
        </li>
    </ul>
</div>
<div class="container">
    <div class="main-name">Lifting</div>
</div>
<div class="treatments-container">
    <div class="treatment-1">
        Lifting Brwi
        <div class="treatment-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aut ullam eos nostrum praesentium ipsam ea
            totam explicabo ab a, aspernatur in velit error architecto. Magnam perspiciatis neque fugit a.
        </div>
    </div>
    <div class="treatment-2">
        Lifting Rzęs
        <div class="treatment-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti inventore voluptatibus quidem, tempore
            recusandae dolorum magni cum saepe alias cupiditate, rerum dolores, laudantium enim tempora tenetur
            incidunt provident consequatur neque.
        </div>
    </div>
</div>

</body>
<footer>
    © Damian Juruś
</footer>

</html>